<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <title>Fazt Website</title> -->
        <title><%=title%></title>
        <%- include('header/head.html') %>
        <style>
            body{
                font-family: 'Spicy Rice', cursive;
            }
        </style>
      </head>
    <body>
        <%- include('header/nav.html') %>
       <h4>Saludos desde index.html</h4> 
        <h4>Saludos desde index.html</h4>
        <h1>continuando las pruebas</h1>
        <h2>probando EJS <%=5 *34%> </h2>
        <h5>prueba con el exports de router</h5>
    </body>
</html>